/* my fonts */
/*  JOST : font-family: 'Jost', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  font-family: 'Cormorant Garamond', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,h5,h6 {
  font-family: 'Cormorant Garamond', serif;
  line-height: 60px;
}

:root {
  --main-color: #c59764;
}

/* start loading screen */
.loading {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgb(0, 0, 0)
}

.loader {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background: var(--main-color);
  border-radius: 15% 15% 35% 35%;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid var(--main-color);
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}

.loader::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  color: #FFF;
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
  }

  100% {
    box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
  }
}

/* end loading screen */


/* start contact info */
.contactinfo {
  height: 40px;
}
/* end contact info */

/* start header svg */
.elementor-shape[data-negative=false].elementor-shape-bottom,
.elementor-shape[data-negative=true].elementor-shape-top {
  transform: rotate(180deg);
}

.elementor-shape-bottom {
  bottom: -7px;
}

.elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.elementor-shape-fill {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}

/* end header svg */

/* start header */
.header {
  background-image: url(../images/home/coffee-bg.jpg);
  height: 95%;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.511);
  width: 100%;
  height: 100%;
}

/* navbar */
.navbar .container .img {
  width: 20%;
}

.navbar .container .collapse {
  width: 80%;
}

.header a {
  color: white;
  font-family: 'Jost', sans-serif;
}

.header .nav-link {
  position: relative;
  color: white;
}

header .nav-link::after {
  content: '';
  width: 0%;
  position: absolute;
  background-color: var(--main-color);
  bottom: -2px;
  height: 2px;
  left: 0;
  transition: 0.5s;
}

header .active::after {
  width: 100%;

}

header .nav-link:hover::after {
  width: 100%;
}

/* header content */
.headerContent .coffee span {
  height: 1px;
  background-color: aliceblue;
  width: 90px;
}

.header h1 {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}

.headerContent h3 {
  font-size: 60px;
}

.headerContent a {
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 45px;
  padding: 10px;
  transition: 1s;
}

.headerContent a:hover {
  margin-top: -50px;
  padding: 8px;

}

/* end header */

/* start cart svg */
.la_Carte .pt-vertical-divider .pt-vd-line:before {
  width: 1px;
  height: 100%;
}
.la_Carte .pt-vertical-divider .pt-vd-line:before, .pt-vertical-divider .pt-vd-line:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  background: currentColor;
  content: "";
}
.la_Carte .elementor *, .elementor :after, .elementor :before {
  box-sizing: border-box;
}
.la_Carte .pt-vertical-divider {
  color: #dfdbdc;
  height: 200px;
  fill: #c8c4c5;

}
.la_Carte .elementor-element {
  --flex-direction: initial;
  --flex-wrap: initial;
  --justify-content: initial;
  --align-items: initial;
  --align-content: initial;
  --gap: initial;
  --flex-basis: initial;
  --flex-grow: initial;
  --flex-shrink: initial;
  --order: initial;
  --align-self: initial;
  flex-basis: var(--flex-basis);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  order: var(--order);
  align-self: var(--align-self);
}

.la_Carte .divider-grass .pt-vd-icon svg {
  color: #c8c4c5;
}

.la_Carte .elementor-widget-pt_vertical_divider.full-height, .elementor-widget-pt_vertical_divider.full-height .elementor-widget-container, .elementor-widget-pt_vertical_divider.full-height .pt-vertical-divider {
  height: 100%;
  position: relative;
  
}
.la_Carte .pt-vertical-divider .pt-vd-line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6px;
  height: 100%;
}
.la_Carte .elementor-widget-pt_vertical_divider.full-height, .elementor-widget-pt_vertical_divider.full-height .elementor-widget-container, .elementor-widget-pt_vertical_divider.full-height .pt-vertical-divider {
  height: 102%;
}
.la_Carte .elementor *, .elementor :after, .elementor :before {
  box-sizing: border-box;
}
.la_Carte .pt-vertical-divider {
  color: #dfdbdc;
  height: 200px;
}
.la_Carte .pt-vertical-divider .pt-vd-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  width: 33px;
  color: #c8c4c5;
  
}
.la_Carte .pt-vertical-divider.divider-grass .pt-vd-icon.icon-end {
  -webkit-transform: translateX(-50%) rotate(180deg);
  -ms-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
}
.la_Carte .pt-vertical-divider .pt-vd-icon.icon-end {
  bottom: 0;
}
.la_Carte .pt-vertical-divider .pt-vd-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  width: 33px;
  color: #c8c4c5;
}
/* end cart svg */





/* start À la Carte */
.la_Carte .cartDesign{
  height: 100vh;

}

.la_Carte h2 {
  Font-size: 98px;
  Font-weight: 600;
  Line-height: 98px;
  color: var(--main-color);
}
.la_Carte .listheader{
  color: var(--main-color);
}
.la_Carte .listheader span{
  Font-size: 13px;
Font-weight: 600;
Line-height: 21.58px;
}
.la_Carte .listheader .line{
  height: 1px;
  background-color: var(--main-color);
  width: 90px;
}
.la_Carte .listheader h3{
Font-size: 40px;
Font-weight: 600;
Line-height: 40px;
}

.cart .contentTitle h6{
  Font-size: 24px;
Font-weight: 600;
Line-height: 32.4px;
}
.cart .contentTitle span{
  Font-size: 16px;
Font-weight: 400;
Line-height: 25.6px;
color: #c8c4c5;
}
.cart .contentTitle .price{
  Font-size: 20px;
  Font-weight: 400;
  Line-height: 33.2px;
  color: #363636;
}
.cart .contentTitle .line2{
  width: 60px;
  border-bottom: 1px solid #c8c4c5;
  border-top: 1px solid #c8c4c5;
  height: 5px;
}

.addtocart{
  background-color: var(--main-color);
  font-size: 10px;
  color: #fff;
  padding: 5px;
  transition: 0.9s;
}
.addtocart:hover {
  padding: 6px;
 color: var(--main-color);
}

/* end À la Carte */

/* start All-day Brunch */

.brunch #carouselExampleIndicators{
 display: block;

}
.brunch #carouselExampleIndicators1{
  display: none; 
}

.Brunch .carousel-indicators button {
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-top: 30px;
}


.Brunch .carousel-indicators {
  margin-bottom: -40px;
}

.Brunch h4 {
  color: var(--main-color);
  Font-size: 66px;

  Font-weight: 600;

  Line-height: 66px;
}

.Brunch a {
  background-color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 45px;
  padding: 8px;
  transition: 0.5s;
}

.Brunch a:hover {
  margin-top: -20px;
  padding: 7px;
}
.brunchmedia{
  height: 0;
  visibility: hidden;
}

/* end All-day Brunch */

/* start followUs */
.followUs {
  position: relative;
  display: flex;

}
.followUsMedia{
  display: none;
}

.followUs .follow {
  width: 270px;
  height: 270px;
  cursor: pointer;
  position: absolute;
}

.followUs .follow a {
  Font-size: 26px;
  Font-weight: 500;
  Line-height: 33.8px;
  color: var(--main-color);
}

/* end followUs */

/* start our story */
.ourStory {
  height: 120%;
}

.ourStory .row {
  height: 100vh;
}


.ourStory .spans {
  font-family: 'Jost', sans-serif;
  Font-size: 13px;
  Font-weight: 600;
  Line-height: 21.58px;
  color: var(--main-color);
}

.ourStory .spans .line {
  height: 2px;
  background-color: var(--main-color);
  width: 70px;
}

.ourStory h2 {
  font-size: 66px;
}

.ourStory .container p {
  font-family: 'Jost', sans-serif;
  Font-size: 18px;
  Font-weight: 400;
  Line-height: 29.88px;
}

.ourStory .container a {
  background-color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 45px;
  padding: 8px;
  transition: 0.5s;
}

.ourStory a:hover {
  margin-top: -20px;
  padding: 30px;
}

.ourStory img {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width:85%; 
  height:85%
}


/* end our story */


/* start our story svg  */

.ourStory .pt-vertical-divider .pt-vd-line:before {
  width: 1px;
  height: 100%;
}
.ourStory .pt-vertical-divider .pt-vd-line:before, .pt-vertical-divider .pt-vd-line:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  background: currentColor;
  content: "";
}
.ourStory .elementor *, .elementor :after, .elementor :before {
  box-sizing: border-box;
}
.ourStory .pt-vertical-divider {
  color: #dfdbdc;
  height: 200px;
  fill: #c8c4c5;

}
.ourStory .elementor-element {
  --flex-direction: initial;
  --flex-wrap: initial;
  --justify-content: initial;
  --align-items: initial;
  --align-content: initial;
  --gap: initial;
  --flex-basis: initial;
  --flex-grow: initial;
  --flex-shrink: initial;
  --order: initial;
  --align-self: initial;
  flex-basis: var(--flex-basis);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  order: var(--order);
  align-self: var(--align-self);
}

.ourStory .divider-grass .pt-vd-icon svg {
  color: #c8c4c5;
}

.ourStory .elementor-widget-pt_vertical_divider.full-height, .elementor-widget-pt_vertical_divider.full-height .elementor-widget-container, .elementor-widget-pt_vertical_divider.full-height .pt-vertical-divider {
  height: 100%;
  position: relative;
  
}
.ourStory .pt-vertical-divider .pt-vd-line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6px;
  height: 97%;
}
.ourStory .elementor-widget-pt_vertical_divider.full-height, .elementor-widget-pt_vertical_divider.full-height .elementor-widget-container, .elementor-widget-pt_vertical_divider.full-height .pt-vertical-divider {
  height: 98%;
}
.ourStory .elementor *, .elementor :after, .elementor :before {
  box-sizing: border-box;
}
.ourStory .pt-vertical-divider {
  color: #dfdbdc;
  height: 200px;
}
.ourStory .pt-vertical-divider .pt-vd-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  width: 33px;
  color: #c8c4c5;
  
}
.ourStory .pt-vertical-divider.divider-grass .pt-vd-icon.icon-end {
  -webkit-transform: translateX(-50%) rotate(180deg);
  -ms-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
}
.ourStory .pt-vertical-divider .pt-vd-icon.icon-end {
  bottom: 0;
}
.ourStory .pt-vertical-divider .pt-vd-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  width: 33px;
  color: #c8c4c5;
}

/* end our story svg */


/* start visit us */
.visitUs {
  background-image: url(../images/home/coffee-bg-1.jpg);
  height: 70vh;
  background-size: cover;
  background-position: 20%;

}


.visitUs svg {
  width: 100%;
  background: none;
}

.visitUs svg path {
  color: white
}

.visitUs .spans .line {
  height: 1px;
  background-color: aliceblue;
  width: 90px;
}

.visitUs .visit {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}

.visitUs h3 {
  font-size: 60px;
}

.visitUs p {
  Font-size: 16px;
  Font-weight: 400;
  Line-height: 26.56px;
  width: 60%;
  margin-left: 250px;
}

.visitUs form input {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.visitUs form button {
  background: none;
  border: none;
}

.visitUs input:focus {
  /*we give him focus to when we click on the input give the elements this Properties*/
  box-shadow: none !important;
}

::placeholder {
  /* to give the placeholder this properties*/
  color: white !important;
  text-transform: capitalize;

}

.visitUs .agree-to-terms a {
  color: white;
}

.visitUs .agree-to-terms a:hover {
  color: var(--main-color);
}


/* end visit us */

/* start footer */
.footer .socialmedia a {
  font-size: 26px;
}

.footer .socialmedia i:hover {
  transition: 1s;
  color: var(--main-color);
}

/* end footer */