@media (max-width:991px) {
/* start svg */
.elementor-column-wrap{
    height: 0;
    visibility: hidden;
}
/* end svg */

/* start header */
.contactinfo{
   height: 0px;
   visibility: hidden;
}
.navbar-toggler-icon{
    color: aliceblue;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLF0hsFCycmCwHw4IDWXPcODM5YIDlg5vljmLRzhy98KOWlv5eG-7E1E29ghJ_Zz15vdw&usqp=CAU) ;
    border: none;
}
  .navbar{
    position: relative;
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
  }
  .navbar li , .navbar a{
   margin-top: 10px;
  }
  .navbar li:hover{
    color: black; 
    font-weight: bolder;
   }
  header .nav-link::after {
    content: '';
    background:none;
  }
  .headerContent .coffee span {
    width: 40px;
    font-weight: 700;
  }
  .header h1 {
    font-size: 20px;
  }
  
  .headerContent h3 {
    font-size: 30px;
  }
  
  .headerContent a {
    padding: 5px;
  }
  /* end header */

/* start la Carte */
.la_Carte{
    height: 245vh;
}
.cartDesign{
    height: 100%;
margin-top: 600px;
 flex-direction: column;
 align-items: flex-end;
 justify-content: flex-end;
}
.la_Carte h2 {
    Font-size: 58px;
    margin-bottom:-40px ;
  }

  .la_Carte .listheader span{
    Font-size: 13px;
  Font-weight: 600;
  Line-height: 21.58px;
  }
  .la_Carte .listheader .line{
    height: 1px;
    background-color: var(--main-color);
    width: 90px;
  }
  .la_Carte .listheader h3{
  Font-size: 30px;
  Font-weight: 600;
  Line-height: 40px;
  }
  
  .cart .contentTitle h6{
    Font-size: 16px;
  Font-weight: 600;
  Line-height: 32.4px;
  }
  .cart .contentTitle span{
    Font-size: 10px;

  }
  .cart .contentTitle .price{
    Font-size: 20px;
    Font-weight: 400;
    Line-height: 33.2px;
    color: #363636;
  }




/* end la Carte */

  /* start brunch */
   .brunch{
    visibility: hidden;
    height: 0;
   }
   .brunchmedia{
    padding-top: 60px;
    visibility:visible;
    height:100%;
   }
   .brunchmedia h4{
    margin-top: 40px;
      font-size: 30px;
   }
  /* end brunch */
  /* start follow us */
  .followUs{
      width: 100%;
    }
  .followUs div{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .followUs img{
        width: 120px;
    }
    .followUs .follow {
        width: 100px;
        height: 100px;
        cursor: pointer;
        position: absolute;
      }
      
      .followUs .follow a {
        Font-size: 16px;
        Font-weight: 500;
        Line-height: 33.8px;
        color: var(--main-color);
      }
      
    /* end follow us */
    /* start our story*/
    .ourStory {
        height: 145%;

        text-align: center;
      }
      
      .ourStory .row {
        height: 100vh;
      }
      
      

      
      .ourStory h2 {
        font-size: 56px;
      }

      .ourStory a:hover {
        margin-top: -20px;
        padding: 30px;
      }
 
.ourStory img {

    width:85%; 
    height:55%;
    margin-left: 30px;
  }


    /* end our story */
    /* start visit us */
.visitUs {

    background-position: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
  
  }

  
  .visitUs h3 {
    font-size: 30px;
  }
  .visitUs svg{
     height: 0;
     visibility: hidden;
  }
  
  .visitUs p {
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 26.56px;
    width: 60%;
    margin-left: 100px;
  }

  
  .visitUs .agree-to-terms a:hover {
    color: var(--main-color);
  }
  
  
  /* end visit us */
  
  .footer .socialmedia i:hover {
    transition: 1s;
    color: var(--main-color);
  }
  
  .footer {
   padding:30px;
  }
  
  /* end footer */
}