 /* ourCart */

 @media (max-width:991px) {

     svg {
         display: none;
     }
     #carts{
        text-align: center;
        width: 100%;
        padding-top:-30px ;
     }

     .cart {
         flex-direction: column;
         padding: 30px;
         text-align: center;
         margin-top: -200px;
         margin-bottom: -200px;
     }
     .cart h6{
        font-size:100px;

     }
     .cart img{
       width: 100%;
       height: 80px;
        
     }
     .cart .contentTitle{
        margin-top: 10px;
        width: 80%;
      
     }
     /* .cart .contentTitle div{
        flex-direction: column;
      
     } */
     .cart .contentTitle .line2,.description {
         display: none;
     }
     .cartempty a {
        display: flex;
      flex-direction: row;
      }

     #carts .total {
         background-color: var(--main-color);
         width: 100%;
         text-align: center;
     }
 }





 /* ourCart */