/* my fonts */
/*  JOST : font-family: 'Jost', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  font-family: 'Cormorant Garamond', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4 {
 font-family: 'Cormorant Garamond', serif;
line-height: 60px;
}

:root {
  --main-color: #c59764;
}

/* start header svg */
.elementor-shape[data-negative=false].elementor-shape-bottom,
.elementor-shape[data-negative=true].elementor-shape-top {
  transform: rotate(180deg);
}

.elementor-shape-bottom {
  bottom: 185px;
}

.elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.elementor-shape-fill {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}

/* end header svg */
/* start header */
.header {
  background-image: url(../images/ourmenu/home-bg-8-1.jpg);
  height: 70vh;
  background-size: cover;
  background-position: 200%;
  background-position-y: 80%;
}
.header h1 {
 font-size: 80px;
 Font-weight: 600;
 font-family: 'Cormorant Garamond', serif;
 Line-height: 80px;
 margin-top: 120px;
}

/* end header */

/* start allDay */

.allDay h2{
  color: var(--main-color);
  Font-size: 66px;
Font-weight: 600;
Line-height: 66px;
}
.allDay .card{
  border: none;
  cursor: pointer;
}

.allDay .card:hover{
background-color:rgba(54, 54, 54, 0.062) ;
}

.allDay .card h3{
  Font-size: 24px;
  Font-weight: 600;

  Line-height: 32.4px;
}
.allDay .card span{
  Font-size: 20px;
Font-weight: 400;
Line-height: 33.2px;
}
.allDay .card p{
  Font-size: 16px;
  Font-weight: 400;
  Line-height: 21.6px;
  color: rgb(54, 54, 54);
}


/* end allDay */